@charset "UTF8"

* {
    font-family: Arial, Helvetica, sans-serif
    ;
}

body {
    background-image: linear-gradient(to right, #4CABA6,#1B7F7A);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #115350;
    width: 400px;
    padding: 10px;
    margin: auto;

}
h1 {
    color: #4C4A59;
    text-align: center;
    text-shadow: 1px 1px #F2CDAC;

}

h2 {
    color: #0897B4;
}
body {
    text-align: justify;
}