@charset "UTF-8"

body{
    background-color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color: burlywood;
}
h2 {
    color: darkred;
}
p {
    text-align: justify;
}